header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f676bf0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    background-color: #ffffff;
    padding: 10px;
    display: inline-block;
}

.banner {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    
}

.banner img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    width: auto/9;
}

.banner-text-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 0px;
    text-align: right;
    color: white;
}

.sidebar-header {
    display: flex;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    border-right: 4px solid black;
    justify-content: end;
}

.about-me {
    display: flex;
    height: auto;
    align-items: top;
    padding-bottom: 20px;
}

.about-me-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-left: 4px solid black;
}

.about-me-content ul {
    list-style: none;
}

.work {
    display: flex;
    height: auto;
    align-items: top;
    padding-bottom: 20px;
}

.work-links {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-left: 4px solid black;
}

.work-links ul {
    list-style: none;
}

.work-links ul li img {
    border: 4px solid #2f676bf0;
}

.contact-me {
    display: flex;
}

.contact-links {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-left: 4px solid black;
}

.contact-links ul li {
    display: inline-block;
}

#name {
    box-sizing: border-box;
    color: #ffffff;
    background-color: #0d1e1c;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}