/* Header element selector/ creates a flexbox container for header + navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f676bf0;
}

/* Removes bullet points from navbar icons */
header nav ul {
    list-style: none;
}

/* formats navbar to display side by side with a gap inbetween each icon */
header nav ul li {
    background-color: #0d1e1c;
    padding: 10px;
    display: inline-block;
}

/* determines navbar icon text color */
header nav a {
    color: #33e9d7ea;
}

/* Sets a flexbox container for banner class */
.banner {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    
}

/* Formats banner image */
.banner img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    width: 100%;
}

/* formats the subtitle overlay on top of banner image */
.banner-text-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 0px;
    text-align: right;
    color: white;
}

/* Formats all sidebar header elements for webpage */
.sidebar-header {
    display: flex;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    border-right: 4px solid black;
    justify-content: end;
}

/* Sets a flexbox container for about me class */
.about-me {
    display: flex;
    height: auto;
    align-items: top;
    padding-bottom: 20px;
}

/* Formats about me content/paragraphs */
.about-me-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-left: 4px solid black;
}

/* Removes bullet points */
.about-me-content ul {
    list-style: none;
}

/* Sets a flexbox container for work class */
.work {
    display: flex;
    height: auto;
    align-items: top;
    padding-bottom: 20px;
}

/* formats work links section */
.work-links {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-left: 4px solid black;
}

/* formats work link icons */
.work-links ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

/* add border to each work link icon */
.work-links ul li img {
    border: 4px solid #2f676bf0;
}

/* adds a hover annimation to work link icons */
.work-links ul li img:hover {
    border: 8px solid #33e9d7ea;
}

/* adds a shadow effect when icons are clicked */
.work-links ul li img:active {
    box-shadow: -5px -5px 5px 5px #2f676bf0;
}

/* Sets a flexbox container for contact me class */
.contact-me {
    display: flex;
    align-content: baseline;
}

/* formats contact me section */
.contact-links {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-left: 4px solid black;
}

/* displays contact links side by side */
.contact-links ul li {
    display: inline-block;
}

/* formats my name withing page header */
#name {
    box-sizing: border-box;
    color: #ffffff;
    background-color: #0d1e1c;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Extra/unused code */

/* .main_project {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.other_projects {
    display: flex;
    gap: 10px;
} */

/* 
.work-links ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
} */